* {
  margin: 0;
  padding: 0;
}

.configuratorContainer {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.configuratorContainer > h2 {
  width: 100%;
  height: 5%;
  text-align: center;
  margin: 2%;
}

.configuratorImg {
  width: 60%;
  height: 70%;
}

.carConfiguratorBtns {
  width: 30%;
  height: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15%;
  margin-bottom: 10%;
}

.carConfiguratorBtns > button {
  width: 25%;
  display: flex;
  justify-content: center;
}

.carConfiguratorBtns > button[type="submit"] {
  margin: 0;
}

.carConfiguratorBtns > button[type="button"] {
  margin: 0;
}
