* {
    margin: 0;
    padding: 0;
}

.mainContact {
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "GothamOfficeRegular";
    text-transform: uppercase;
    font-size: 1.4em;

}
