* {
  margin: 0;
  padding: 0;
}

.mainPolicy {
  width: 95vwvw;
  height: 70vh;
  padding: 3%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-start;
  color: black;
  font-family: "GothamOfficeRegular";
  font-size: 1.2em;
}

h3 {
  margin-left: 40%;
  margin-bottom: 5%;
}

h4 {
  margin-bottom: 1%;
  text-align: left;
  color: #b3911f;
  border-bottom: 1px solid #b3911f;
}

span {
  color: #b3911f;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 0.8em;
}
